.post {
}

.post__inner {
}

.post__item {
	height: 100px;
	display: flex;
}

.post__left {
}

.post__right {
	padding: 10px;
}

.post__photo {
	width: 50px;
	height: 50px;
	position: relative;
	margin-bottom: 10px;
}

.post__photo img {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	object-fit: contain;
	font-family: "object-fit: contain;";
}

.post-nav {
	display: flex;
	flex-wrap: wrap;
	margin: 0px 0px 10px 0px;
}

.post span {
	margin: 0px 4px 4px 0px;
	cursor: pointer;
}

.selected-post-page {
	color: rgb(77, 202, 5);
	font-weight: 700;
}
