.pagination {
}

.pagination button {
	padding: 10px 17px;
	background-color: greenyellow;
	border-radius: 40px;
	font-size: 17px;
	font-weight: 700;
	border: 1px solid #fff;
	transition: all 0.3s ease;
	text-transform: uppercase;
}

.pagination button:hover {
	background-color: rgb(10, 245, 10);
}

.pagination button:active {
	border-color: transparent;
	background-color: rgb(15, 228, 15);
}

.btnPrev {
	margin-right: 10px;
}
.btnNext {
	margin-left: 10px;
}

.selectet-page {
	font-weight: 700;
	color: greenyellow;
	position: relative;
}

.selectet-page:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: greenyellow;
	position: absolute;
	bottom: 2px;
	left: 0;
	z-index: 1;
}
