.about h2 {
	font-size: 42px;
	margin: 0px 0px 20px 0px;
}

.about__inner {
}

.about__item {
	margin: 0px 0px 10px 0px;
}

.about__item input {
	width: 400px;
	padding: 5px;
	border-radius: 5px;
}

.about__item button {
	padding: 6px 10px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 5px;
	background-color: greenyellow;
	transition: all 0.3s ease;
}

.about__item button:hover {
	background-color: rgb(47, 255, 82);
}
