.home {
}

.home__nav {
	display: flex;
	flex-wrap: wrap;
	margin: 0px 0px 5px 0px;
}

.home__nav span {
	font-size: 11px;
	margin: 0px 2px 2px 0px;
	cursor: pointer;
}

.home__inner {
}

.home__item {
	display: flex;
}

.home-item-left {
	flex: 0 0 100px;
}

.home__item-right {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
}

.item-left {
}
.home-profile-photo {
	position: relative;
	width: 70px;
	height: 70px;
}
.home-profile-photo img {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	object-fit: contain;
}

.selected-page {
	font-size: 16px;
	color: greenyellow;
	font-weight: 700;
}
